body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

fieldset{
    margin: 1em 0;
    padding:1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}
legend{
    font-weight: bold;
}
label{
    display: block;
    /* Altera o cursor quando o usuario faz o hover em cima do form */
    cursor: pointer;
}
/* Aplica o atributo somente nos tipos texto */
input [type= "text"]{
    width: 20em;
}
textarea{
    width: 100%;
    height: 10em;
}
input.radio, input.checkbox, input.submit{
    width: auto;
}

.radio{
    margin-right: 1em;
}