body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}


table{

    width: 600px;
    border-collapse: separate; /*colappse faz a borda colar ao conteudo*/
}
th,td{
    padding: 7px;
}
th{
    /* Transforma todas as letras em maiscula */
    text-transform: uppercase;
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    /* Aumenta o espaçamento entre as letras */
    letter-spacing: 0.1em;
}

tr.alternado{
    background-color: #efefef;
}

.numero{
    text-align: right;
}
tr:hover{
    background-color:#c3e6e5 ;
}