body {
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
}
p{
    clear: both;
}
ul{
    margin: 0;
    list-style: none;
    padding: 0;
    width: 720px;
   
}
ul li{   
    float: left;
    background: url(../assets/aba-direita.png) no-repeat top right;
}

li a{
    padding: 0 2em;
    display: block;
    line-height: 3em;
    text-decoration: none;
    background: url(../assets/aba-esquerda.png) no-repeat top left;
    color: #fff;
}
ul a:hover{
    color: #894a1f
}


ul #atual{
    background: url(../assets/aba-direita-atual.png) no-repeat top right ;
}

ul #atual a{
    background: url(../assets/aba-esquerda-atual.png) no-repeat top left;

}